html {

   font-size: 22px;
}

body {
  overflow-x:hidden;
  overflow-y: scroll;
  font-family: "Times New Roman", Times,     serif;
}

/***    Left 30% Stylea   ***/

.left {
      margin-top: -10px;
 }     

/***   Nabar Tilte Styles  ***/

.left header {
  font-size: 1.50rem;
  font-style: bold;
  color: #FF4500;
}

/*** Navbar Styles ****/

#navbar {
  position: fixed;
  overflow: scroll;
  height: 100%;
  width: 30%;
  top: 0;
  left: 10;
  bottom: 0;
}

/***   Navbar lists  Styles    ***/

ul {
  border: 1px solid #563;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 97%;
  background-color: #f0f8ff;
} 

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  font-style: bold;
  border-right: 1px solid #563;
  border-bottom: 1px solid #563;
  background-color: f0f8ff;
 }

 li a:hover {
  background-color: #555;
  color: white;
}

 /***   Right Side Styles   ***/

.right {
 max-width: 65%; 
 margin-top: -10px;
 margin-right: 30px;
 margin-left: 34%;
 font-family: "Times New Roman", Times, serif;
} 

.right header {
  font-size: 1.50rem;
  font-style: bold;
  color: #FF4500;
} 

ul li header {
 margin-left: 0px;
 border-bottom: 2px solid #555; 
}

p {
 font-family: "Times New Roman", Times, serif; 
  font-size: 1rem;
  margin-top: 10px;
}

/***    Lists formating Styles   ***/

.main-list
  max-width: 415px;
  height: auto;
  font-family: "Times New Roman", Times, serif;  
  font-size: 1rem;
}

u#main-doc ul {
  background: #3399ff;
  padding: 4px;
}


#main-doc ul li {
  border: none;
  background: #cce5ff;
  margin-left: 40px;
  margin-right: -30px;
  outline-style: solid;
  outline-width: 4px;
  outline-color: #92a9d1;
}

#main-doc li {
  list-style-type: square;
  padding: 5px;
}

/***   Code Block Formatting  Styles  ***/

pre code {
 font-family: Times New Roman", Times,   serif;  
   font-size: 0.7rem;  
}
 
code {
  border: none;
  font-family: Times New Roman", Times,    serif;     
  font-size: 0.7rem;
  list-style-type: none;  
}  
  
 /***   Media Query   ***/ 

@media (max-width: 600px){
   
  body {
    display: flex;
  }
  
  header {
    font-size: 1.30rem;
  }
  
  .nav-link {
    font-size: 0.25rem;
  }
  
  ul li a {
      display: flex;
      font-size: 0.25rem;
  }
  
  .main-list ul li  a {
      display: flex;
      font-size: 0.4rem;
  }
    
  p  {
     display: flex;
     font-size: 0.60rem;
  }
    
  pre code {
     font-size: 0.5rem;
  }
  
  code li {
     font-size: 0.5rem;
  }
}  
  
   
  
